RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /build/ [L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://moreorlessfollowers.com/$1 [R,L]